body{
	padding: 0;
	margin: 0;
	border: none;
 display: flex;
 flex-direction: column;
 	height:60%;
}

a{
	text-decoration: none;
}
li{
	list-style: none;
}

.xvc-header{
	opacity: 0.99;
	z-index: 10;
	position: fixed;
	font-size: 100%;
	margin-top: 0;
	box-sizing: border-box;
	width: 100%;
	  box-shadow:0 1px 5px rgba(1, 1, 1, 0.5), 0 0 10px rgba(0, 0, 0, 0.1) inset;
	height: 7%;
	background-color: rgba(255,255,255,0.9);

}
.xvc-header{
	margin-top: -5%;
}
.xvc-header h3{
	line-height: 5vw;
z-index: 5;
position: relative;
	font-size: 1.6vw;
	height: 100%;
margin:0;
width: 12%;
margin-left: 1.5%;
text-align: center !important;
display: inline-block;
}
.xvc-header h3 a{
	color:#000;
	transition: all 0.5s;
	font-size: 1.8vw;
	text-decoration: none;
        display: inline-block;
}
.xvc-header h3:after{
	top:90%;
   content: '';
width: 100%;
   height:10%;
   background-color: #3498DB;
   transform: scaleX(0);
  transition: all 0.4s;
display: block;
position: absolute;
}
.xvc-header h3:hover:after{
	transform: scaleX(1);
}
.xvc-header h3:hover .h3s{
	color:#3498DB;
}
.top-box{
display: inline-block;
	font-size: 17px;
	font-family: "Roboto";
font-weight:  normal;
	text-align: center;
	width: 20%;
	line-height: 30px;
	
	height: 30px;
	color:#fff;
	background-color: #0396B2;
	
}
.top-boxp{
	width: 100%;
	margin-top: 4%;
	border-bottom:#0396B2 1px solid ;
	
}
.xvc-header h3 ul{
	opacity: 1;
	z-index: 9999;
	top: 100%;
	 box-shadow:0 1px 1px rgba(1, 1, 1, 0.5), 0 0 2px rgba(0, 0, 0, 0.1) inset;
	text-align: center;
transition:  all 300ms ease-in-out;
  width: 100%;
  height: 0%;
	background-color:rgba(255,255,255,0.9);
	position: absolute;

}
.xvc-main .middles{
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.xvc-header ul li{
	z-index: 999;
	margin-top: 20%;
	list-style: none;
	transition: all 0.2s;
	 text-align: left;
	 display: none;
	 margin-left: -45%;
	 text-align: center;
}
.xvc-header h3:hover ul{
	height: 370%;
}
.xvc-header h3:hover ul li{
	display: block;
}

.xvc-header ul li:hover a{
	color:#3498DB;
}
#sub-menu li a{
	z-index: 100;
	font-size: 1.5vw;
}
#sub-menu{
margin: 0;
}
#Chuyen{
	width: 14%;
}
#Chuyen ul li a:hover{
  color:#884EA0;
}
#Chuyen:after{
	background-color: #884EA0;
}
#Chuyen:hover .h3s{
	color:#884EA0;
}

.xvc-footer{

  margin-top: auto;
     color:#fff;
	width: 100%;
	height: 10%;

clear: both;
	background-color: #222222;
}
.xvc-footer p{
	margin:auto;
	 font-weight: 500;
font-family: "Roboto",arial,sans-serif;
    font-size: 1.3em!important;

}
.xvc-footer a{
	color:#5DADE2;
	font-size: 17px;
	font-weight: 600;
	position: absolute;
	padding-top: 10px;
	padding-left: 20px;

}
.xvc-footer a:hover{
color:#F08080;
}
.xvc-footer .cmt{
	padding-top:2%;
	
	color:#fff;
text-align: center;
	font-size: 1.8vw;

}
.xvc-main{
	margin-top: 5%;

	position: relative;
	margin-left: 2%;
	margin-right: 2%;
    height: 80%;
    overflow: hidden;
    background: #000;
}
.xvc-main1{
	height: 100%;
	width: 100%;
	background-image: url('https://thewallpaper.co/wp-content/uploads/2016/10/1080p-Desktop-Backgrounds-free-Download-1-hd-desktop-wallpapers-cool-images-amazing-download-apple-background-wallpapers-windows-colourfull-display-1920x1080-768x432.jpg');
  
}

.transparent{
	background-image: linear-gradient(to bottom,#D8B5FF , #05B7B4);
opacity: 0.4;
}
 .transparent{
	
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.xvc-children a{
padding-top:85%;
padding-left: 5%;
	color:#fff;
	z-index: 5;
	opacity: 10;
	text-decoration: none;
	height: 100%;
	width: 100%;
font-size: 2vw;
position: absolute;
}
.gioi-thieu{
	width: 20%;
	font-size: 2vw;

}
.gach:after{
	top:100%;
   content: '';
width: 70%;
   height:0.5%;
  transition: all 0.4s;
display: block;
	background-color: #E74C3C;
}
#hidden1{
	margin-left: 0;
	float: left;

	width: 40%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
.hidden2{
	
	display: inline;

	width: 40%;
	height: 30%;
}
.xvc-children{
background-position: center center;
	position: relative;
 cursor: pointer;
	transition: all 0.4s;
	background-size: cover;
  background-repeat: no-repeat;
}
.xvc-main2{
	background-image:url('https://image.thanhnien.vn/1600/uploaded/vietthong/2017_06_13/thumb_jouo.jpg') ;

	width: 30%;
	height: 50%;

}
.xvc-children:hover{
	transform:scale(1.09);
}
.xvc-main1:hover:after{
	transform: scale(1) !important;
}
.xvc-mains2{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
	
	height: 100%;
}
.post{


	
	height: 95%;
	width: 75%;
	

}
.post-children{
transition: all 0.8s;
	position: relative;
	height: 60%;
	width: 100%;
	
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center center; 
}
.post a:hover{
color:#2E86C1;

}

.post a{

	font-size: 18px;
	text-decoration: none;
	color:#000;
	line-height: 10px;
	text-decoration: none;
	position: relative;
	display: block;
    
    z-index: 5;
    margin-top:0;
    transition: all 0.5s;

}
.post-parent{
	border-radius: 5px;
    
	box-sizing: border-box;
	background-color: #E5E7E9;
	height: 250px;
	
	
	width: 250px;
	overflow: hidden;
	margin-top: 3%;
	box-shadow: 0 0 10px  transparent;

	transition: all 0.3s ease-out;
	
}
.post-parent:hover{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#titless{
	padding-right: 0.5vw;
	padding-left: 1vw;
	font-family: 'Open Sans';
	color:rgb(57, 73, 86);

	
	-webkit-font-smoothing:antialiased!important;

}

.post-black{
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,5));
}
.post-inline div{
  display: inline-block;
}
.imgs:hover + #titless{
	color:#2E86C1;
}
.imgs:hover + .taito{
	color:#2E86C1;
}
.contact{
	left: 0;
	margin:0;

	margin-top: 5%;
	display: inline-block;
	float: right;
	height: 100%;
	width: 210px;
	
}
.contact-child{
	margin-top: 5%;
	height: 200px;
	width: 100%;
	border:1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	line-height: 40px;
	
	
}
.row:before{
	display: inline-block;
}
.btn-toolbar:before{
	display: inline-block;
}
.ss3s{
	float: right;
}
.row{
	margin:0;
}
.ss3s:after{
	display: inline-block;
}
.ss3s:before{
	display: inline-block;
}
.contact-child li{
	width: 100%;
	border:none;
	line-height: 30px;
	height: 15%;
background-color:#3498DB;
color:#fff;


font-size: 15px;	
	transition: all 0.3s;
}
.contact-child a{
	font-size: 17px;
	color:#fff;
	text-decoration: none;
	
}
.contact-child a:hover .hovers{
	background-color: #1ABC9C;
}
.mainpost{
	box-sizing: border-box;
   animation: transparents 1s;
	margin-left: 15%;
	vertical-align: middle;
	display: inline-block;
	margin-top: 10%;
	width: 70%;
	height: 155%;
margin-bottom: 10%;
	padding-left: 10px;
	padding-right: 5px;
}
.header-post{
	height: 80px;
	width: 100%;

   
}
@keyframes transparents{
   from {
   	opacity: 0;
   }
   to {
   	opacity: 5;
   }
}
.other{
	position: absolute;
float: right;
margin-top: 5%;
margin-left: 0;
	display: inline-block;
	height: 100%;
	
	width: 20%;
}
.shadow{
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}
.post-tr{

	color:#000 !important;
        font-weight: 500;
    -webkit-font-smoothing: antialiased;
	visibility: visible!important;
	margin-top: 6%;
	width: 100%;
	height: 80%; 
	

    word-wrap: break-word;
        font-family: "Roboto",arial,sans-serif;
    font-size: 22px !important;
}
.post-data{
	letter-spacing: 0.06px;
	word-wrap: break-word;
}

.mainpost .title{
	      font-family: "Roboto",arial,sans-serif;
    font-weight: 600;
    font-size: 54px;
padding-left: 0;
text-align: center;
	line-height: 40px;

}
.mainpost img{
	margin-top: 10px;
}
.gioithieuanh{
	padding-top: 5px;
	height: 30px;
}
.ngaythang{
	font-size: 17px;
	line-height: 40px;
	color:#0091dc;
}